<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if devoured}}Eat Da Burger!{{else}}Eat Da Burger!{{/if}}
	</button>
		{{!-- <button class="delete-cat" data-id="{{id}}" >Do to the kitty what Scar did to Mufasa!
	</button> --}}

</li>
